In [2]:
import nba_api as nba

# Testing

In [2]:

# find player Ids 
from nba_api.stats.static import players
player_dict = players.get_players()

# Use ternary operator or write function 
bron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
bron_id = bron['id']

#game_stats_player
#could not get DateFrom to work, just use loop with years if necessary 
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import playergamelog
import pandas as pd

In [3]:
# gamelog_bron = playergamelog.PlayerGameLog(player_id='2544', season = '2018') # 55 rows
gamelog_bron_all = playergamelog.PlayerGameLog(player_id='2544', season = SeasonAll.all)
df_bron_games_all = gamelog_bron_all.get_data_frames()
display(df_bron_games_all[0].head(5))
print(df_bron_games_all[0].shape)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,2544,0022201228,"APR 09, 2023",LAL vs. UTA,W,33,13,25,0.520,...,5,6,6,1,1,2,0,36,20,1
1,22022,2544,0022201212,"APR 07, 2023",LAL vs. PHX,W,29,6,19,0.316,...,6,6,6,0,0,5,1,16,11,1
2,22022,2544,0022201196,"APR 05, 2023",LAL @ LAC,L,35,13,20,0.650,...,8,8,7,1,1,6,0,33,-10,1
3,22022,2544,0022201186,"APR 04, 2023",LAL @ UTA,W,38,14,27,0.519,...,5,5,6,1,1,5,2,37,-7,1
4,22022,2544,0022201171,"APR 02, 2023",LAL @ HOU,W,29,8,18,0.444,...,8,10,11,0,1,1,1,18,23,1

(1421, 27)

In [4]:
## Get all players in a season
from nba_api.stats.endpoints import leaguegamelog
gamelog_2018 = leaguegamelog.LeagueGameLog(season = '2000')
df_2018_games = gamelog_2018.get_data_frames()
display(df_2018_games[0].head(5))
print(df_2018_games[0].shape)
# print(df_2018_games[0].columns)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22000,1610612747,LAL,Los Angeles Lakers,0020000012,2000-10-31,LAL @ POR,W,240,36,...,31,39,28,5,8,20,18,96,10,0
1,22000,1610612757,POR,Portland Trail Blazers,0020000012,2000-10-31,POR vs. LAL,L,240,34,...,19,32,18,13,1,10,28,86,-10,0
2,22000,1610612741,CHI,Chicago Bulls,0020000006,2000-10-31,CHI vs. SAC,L,240,26,...,22,29,19,8,4,20,20,81,-19,0
3,22000,1610612758,SAC,Sacramento Kings,0020000006,2000-10-31,SAC @ CHI,W,240,40,...,32,37,29,12,6,18,23,100,19,0
4,22000,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31,SAS vs. IND,W,240,33,...,32,37,17,6,4,18,22,98,13,0

(2378, 29)

In [5]:

# find team Ids
from nba_api.stats.static import teams 
teams = teams.get_teams()
GSW = [x for x in teams if x['full_name'] == 'Golden State Warriors'][0]
GSW_id = GSW['id']

#find games played by a team or player
from nba_api.stats.endpoints import leaguegamefinder
GSW_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=GSW_id).get_data_frames()[0]
GSW_games

# # game play by play data 
# from nba_api.stats.endpoints import playbyplay
# pbp = playbyplay.PlayByPlay('0021900429').get_data_frames()[0]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612744,GSW,Golden State Warriors,1522300024,2023-07-09,GSW vs. NOP,L,201,86,...,0.839,8.0,28.0,36.0,17,4,0,15,29,-10.6
1,22023,1610612744,GSW,Golden State Warriors,1522300008,2023-07-07,GSW @ LAL,L,200,96,...,0.600,15.0,31.0,46.0,24,6,4,18,27,-5.8
2,22023,1610612744,GSW,Golden State Warriors,1322300004,2023-07-05,GSW @ CHA,W,200,98,...,0.571,13.0,28.0,41.0,21,10,3,17,22,17.2
3,22023,1610612744,GSW,Golden State Warriors,1322300003,2023-07-03,GSW @ SAC,L,201,94,...,0.824,7.0,23.0,30.0,23,3,2,17,26,-9.2
4,42022,1610612744,GSW,Golden State Warriors,0042200236,2023-05-12,GSW @ LAL,L,241,101,...,0.714,20.0,33.0,53.0,25,3,2,10,30,-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3609,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3610,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3611,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN
3612,21983,1610612744,GOS,Golden State Warriors,0028300004,1983-10-28,GOS @ SEA,W,240,110,...,0.703,21.0,26.0,47.0,26,11,2,19,34,NaN

In [6]:
## TODO: Look through endpoints and find tables that match the data we want to collect
## https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
# - playergamelog.PlayerGameLog - Obviously what we will use to crate timeseries data
# - leaguegamelog.LeagueGameLog - Join with playergamelog to fill in missing data
# - playernextngames.PlayerNextNGames - Can be useful for projections? but doesn't look to have historical
# - playerprofilev2.... - Lots of good stuff in here such as college stats
from nba_api.stats.endpoints import playerprofilev2
playerprofilev2.PlayerProfileV2(player_id='2544').get_data_frames()[0]

# - draftboard.DraftBoard - Where player was drafted

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954,609,...,0.768,65,392,457,375,50,32,178,88,1590

In [7]:
from nba_api.stats.endpoints import playerprofilev2
pp_bron = playerprofilev2.PlayerProfileV2(player_id='2544', per_mode36='Per36')

print('per 36 season stats')
display(pp_bron.career_totals_regular_season.get_data_frame())

print('\ncollege stats')
display(playerprofilev2.PlayerProfileV2(player_id='2544').career_totals_college_season.get_data_frame())

per 36 season stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,RANK_PMIN_MIN,RANK_PMIN_FGM,...,RANK_FT_PCT,RANK_PMIN_OREB,RANK_PMIN_DREB,RANK_PMIN_REB,RANK_PMIN_AST,RANK_PMIN_STL,RANK_PMIN_BLK,RANK_PMIN_TOV,RANK_PMIN_PTS,RANK_PMIN_EFF
0,2544,2005-06,00,1610612739,CLE,NR,NR,NR,1,1.0,...,53.0,34.0,12.0,12.0,7.0,12.0,30.0,1.0,2.0,7.0
1,2544,2006-07,00,1610612739,CLE,NR,NR,NR,1,14.0,...,39.0,47.0,14.0,19.0,5.0,9.0,44.0,12.0,8.0,7.0
2,2544,2007-08,00,1610612739,CLE,NR,NR,NR,1,7.0,...,54.0,58.0,14.0,21.0,4.0,5.0,18.0,2.0,2.0,5.0
3,2544,2008-09,00,1610612739,CLE,NR,NR,NR,1,2.0,...,46.0,41.0,7.0,8.0,4.0,10.0,26.0,13.0,1.0,1.0
4,2544,2009-10,00,1610612739,CLE,NR,NR,NR,1,6.0,...,51.0,48.0,5.0,7.0,4.0,7.0,6.0,3.0,4.0,1.0
5,2544,2010-11,00,1610612748,MIA,NR,NR,NR,1,9.0,...,45.0,41.0,13.0,18.0,8.0,8.0,21.0,9.0,8.0,4.0
6,2544,2011-12,00,1610612748,MIA,NR,NR,NR,1,2.0,...,46.0,15.0,4.0,9.0,10.0,4.0,37.0,4.0,1.0,1.0
7,2544,2012-13,00,1610612748,MIA,NR,NR,NR,1,3.0,...,35.0,31.0,12.0,16.0,6.0,9.0,29.0,12.0,4.0,2.0
8,2544,2013-14,00,1610612748,MIA,NR,NR,NR,1,4.0,...,26.0,92.0,15.0,26.0,15.0,8.0,43.0,9.0,2.0,2.0
9,2544,2014-15,00,1610612739,CLE,NR,NR,NR,1,2.0,...,52.0,33.0,5.0,4.0,2.0,13.0,22.0,2.0,2.0,3.0
10,2544,2015-16,00,1610612739,CLE,NR,NR,NR,1,1.0,...,46.0,20.0,7.0,6.0,3.0,5.0,16.0,5.0,5.0,1.0
11,2544,2016-17,00,1610612739,CLE,NR,NR,NR,1,1.0,...,44.0,55.0,4.0,10.0,5.0,8.0,13.0,4.0,2.0,1.0
12,2544,2017-18,00,1610612739,CLE,NR,NR,NR,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2544,2019-20,00,1610612747,LAL,NR,NR,NR,1,4.0,...,52.0,35.0,4.0,7.0,3.0,22.0,18.0,3.0,8.0,1.0
14,2544,2020-21,00,1610612747,LAL,NR,NR,NR,1,14.0,...,58.0,44.0,20.0,26.0,10.0,7.0,72.0,4.0,16.0,14.0
15,2544,2022-23,00,1610612747,LAL,NR,NR,NR,1,13.0,...,39.0,36.0,7.0,9.0,13.0,29.0,18.0,23.0,13.0,7.0

college stats

Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, ORGANIZATION_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]

# Data Wrangling

In [2]:
# ENDPOINTS DOCUMENTATION - https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
# STATIC TABLE DOCUMENTATION - https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/static

## CORE TABLES
# - nba_api.stats.static.teams.get_teams() - teams df
# - nba_api.stats.static.players.get_players() / .get_active_players() - teams players/active players
# - playerindex.PlayerIndex - get list of players, can filter by season/active/etc.
# - playergamelog.PlayerGameLog - Obviously what we will use to crate timeseries data
# - leaguegamelog.LeagueGameLog - Join with playergamelog to fill in missing data
# - teamgamelog.TeamGameLog - Why is this worse than leaguegamelog? looks similar to me

## Additional stuff
# - playerprofilev2.... - Lots of good stuff in here such as college stats
# - playernextngames.PlayerNextNGames - Can be useful for projections? but doesn't look to have historical
# - drafthistory - to get draft position?
# - GameRotation - could be useful to see who may get elevated during injury
# - leaguestandingsv3.LeagueStandingsV3.Standings - standings could be useful maybe idk

# - draftboard.DraftBoard - Where player was drafted

In [8]:
## TODO
## 0 Get teams - nba_api.stats.static.teams.get_teams()
## 1 Get all team game data for last 20 years
## 2 Get cumulative season stats for all players across their careers, and if they 
##   have played in the last 20 years, get their Player IDs and their career stats
## 3 For players found in step 3, get their game data for the last 20 years
## 4 Fill in game data with zeros with games found in 1 but not 2

In [20]:
## Teams list
from nba_api.stats.static import teams 
import pandas as pd
team_df = pd.DataFrame(teams.get_teams())

print('Teams')
print(f'Shape: {team_df.shape}')
display(team_df.head())

Teams
Shape: (30, 7)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [25]:
## Players list
from nba_api.stats.static import players 
import pandas as pd
player_df = pd.DataFrame(players.get_players())

print('All Players')
print(f'Shape: {player_df.shape}')
display(player_df.head())

## get active players by filtering on is_active
active_players = player_df[player_df['is_active'] == True]
print('Active Players')
print(f'Shape: {active_players.shape}')
display(active_players.head())

All Players
Shape: (4815, 5)

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

Active Players
Shape: (535, 5)

         id         full_name first_name last_name  is_active
10  1630173  Precious Achiuwa   Precious   Achiuwa       True
22   203500      Steven Adams     Steven     Adams       True
24  1628389       Bam Adebayo        Bam   Adebayo       True
29  1630534      Ochai Agbaji      Ochai    Agbaji       True
41  1630583      Santi Aldama      Santi    Aldama       True

In [41]:
## get all team data for last 20 years
from nba_api.stats.endpoints import leaguegamelog
import pandas as pd
# import time

def get_team_game_data(year, season_type_all_star):
    lg = leaguegamelog.LeagueGameLog(season=str(year), season_type_all_star=season_type_all_star)
    data_frame = lg.get_data_frames()[0]
    data_frame['SeasonTypeAllStar'] = season_type_all_star
    return data_frame

team_game_data = pd.DataFrame()
season_types = ['Regular Season', 'Pre Season', 'Playoffs', 'All-Star']

for year in range(2020, 2024):
    print(f'Getting data for {year}')
    for season_type in season_types:
        team_game_data = pd.concat([team_game_data, get_team_game_data(year, season_type)], ignore_index=True)

print('\nTeam Game Data')
print(f'Shape: {team_game_data.shape}')
display(team_game_data.head())

print('\nNOTE: Both season and season type are in the SEASON_ID column, so we can use that to filter')
display(team_game_data.groupby(['SEASON_ID', 'SeasonTypeAllStar']).size().head(5))

Getting data for 2020
Getting data for 2021
Getting data for 2022
Getting data for 2023
Team Game Data
Shape: (7968, 30)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SeasonTypeAllStar
0,22020,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22,LAL vs. LAC,L,240,38,...,45,22,4,2,19,20,109,-7,1,Regular Season
1,22020,1610612746,LAC,LA Clippers,0022000002,2020-12-22,LAC @ LAL,W,240,44,...,40,22,10,3,16,29,116,7,1,Regular Season
2,22020,1610612744,GSW,Golden State Warriors,0022000001,2020-12-22,GSW @ BKN,L,240,37,...,47,26,6,6,18,24,99,-26,1,Regular Season
3,22020,1610612751,BKN,Brooklyn Nets,0022000001,2020-12-22,BKN vs. GSW,W,240,42,...,57,24,11,7,20,22,125,26,1,Regular Season
4,22020,1610612766,CHA,Charlotte Hornets,0022000010,2020-12-23,CHA @ CLE,L,240,45,...,32,29,10,4,15,17,114,-7,1,Regular Season

NOTE: Both season and season type are in the SEASON_ID column, so we can use that to filter

SEASON_ID  SeasonTypeAllStar
12020      Pre Season             98
12021      Pre Season            132
12022      Pre Season            140
22020      Regular Season       2160
22021      Regular Season       2460
dtype: int64

In [1]:
from nba_api.stats.endpoints import playerprofilev2
playerprofilev2.PlayerProfileV2(player_id='2544').get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954,609,...,0.768,65,392,457,375,50,32,178,88,1590